<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel='stylesheet' type="text/css" href='../static/css/forgot.css'>
</head>
<body>
    <div class="card">
        <input type="checkbox" id="chk" aria-hidden="true" name="">
        <div class="content">
            <div class="front">
                {% if error_message %}
                <div class="error-message">{{ error_message }}</div>
                {% endif %}
                <div class="inner">
                    <h1>Reset Password</h1>
                    <form action="/reset_password/{{ token }}" method="post">
                        <label for="new_password">New Password:</label>
                        <input type="password" id="new_password" placeholder="Password" name="new_password" required onkeydown="captureKeyDown(event)" onkeyup="captureKeyUp(event)">
                        <button type="submit">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>    
    </div>
    <script src="../static/js/script.js">
        
    </script> 
</body>
</html>

